@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  /* Violet & Zinc Theme */
  --background: #09090b;
  /* Zinc 950 - Neutral Dark */
  --foreground: #fafafa;
  /* Zinc 50 */

  --primary: #7359E5;
  /* Lighter Violet */
  --primary-foreground: #09090b;

  --secondary: #27272a;
  /* Zinc 800 */
  --secondary-foreground: #fafafa;

  --accent: #9680F0;
  /* Even Lighter Violet */
  --accent-foreground: #09090b;

  --muted: #27272a;
  /* Zinc 800 */
  --muted-foreground: #a1a1aa;
  /* Zinc 400 */

  --destructive: #ef4444;
  /* Standard Red */
  --destructive-foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}